* {
  font-family: 'Times New Roman', Times, serif;
}

.btn {
  color: #dddddd;
  background-color: #002040;
  border: 1px #002040 solid;
  border-radius: 1px;
  padding: 8px 4px;
}

.center {
  margin: 5px auto;
  text-align: center;
  color: #0a024d;
}

.diagram {
  width: 1000px;
  height: 400px;
  overflow-x: scroll;
}

li {
  float: left;
}

.link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: larger;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #002040;
}

.select {
  display: flex;
  justify-content: end;
  column-gap: 5px;
  align-items: center;
}

span {
  font-weight: 600;
}


table {
  border-collapse: collapse;
  width: 90%;
  margin: 20px auto;
}

.table-sty {
  overflow-x: auto;
  margin: auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


@media only screen and (max-width: 500px) {
  .select {
    display: grid;
    justify-content: end;
    column-gap: 5px;
    align-items: center;
  }
}