<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- <meta http-equiv="Refresh" content="30";/>  -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../static/css/base.css">

  <title>{% block title %}Home{% endblock %}</title>

</head>

<body>
  <div>
    <ul class="navbar">
      <li><a href="/" class="link">Home</a></li>
      <li><a href="/behavior" class="link">Behavior</a></li>
      <li><a href="/diagram" class="link">Diagram</a></li>
    </ul>
    <div class="container">{% block content %} {% endblock %}</div>
  </div>
  </div>


  {% block javascript %}
  <script type="text/javascript">
  </script>
  {% endblock %}
</body>

</html>