<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
  <link rel="stylesheet" href="../static/css/base.css">

  <title>{% block title %}Home{% endblock %}</title>

</head>

<body>
  <div class="main">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a class="active" href="/summary">Summary</a></li>
      <li><a href="/diagram">Diagram</a></li>
    </ul>
      <div class="container">{% block content %} {% endblock %}</div>
    </div>
  </div>


  {% block javascript %}
  <script src="../static/index.js"></script>
  {% endblock %}
</body>

</html>