{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1 class="center">Behavior</h1>

<div class="table-sty">
    <div class="select">
        <span>From</span>
        <input type="date" id="behavior-start-date" />
        <input type="time" id="behavior-start-time" />
        <span>To</span>
        <input type="date" id="behavior-end-date" />
        <input type="time" id="behavior-end-time" />
    </div>
    <div class="center"><button type="button" class="btn" onclick="generate()">Generate summary report</button></div>

    <table style="width: 1000px;">
        <tr>
            <th>Driver ID</th>
            <th>Car Plate Number</th>
            <th>Overspeed Times</th>
            <th>Neutral Slide Times</th>
            <th>Total Overspeed Time (seconds)</th>
            <th>Total Neutral Slide Time (seconds)</th>
        </tr>
        {% for resultLine in result %}
        <tr>
            <td>{{resultLine[0]}}</td>
            <td>{{resultLine[1]}}</td>
            <td>{{resultLine[2]}}</td>
            <td>{{resultLine[3]}}</td>
            <td>{{resultLine[4]}} s</td>
            <td>{{resultLine[5]}} s</td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}

{% block javascript %}
<script type="text/javascript">
    function generate() {
        var behaviorStartDate = document.getElementById("behavior-start-date");
        var behaviorStartTime = document.getElementById("behavior-start-time");
        var behaviorEndDate = document.getElementById("behavior-end-date");
        var behaviorEndTime = document.getElementById("behavior-end-time");
        fetch("/behavior", {
            method: "POST",
            body: JSON.stringify({
                b_start_date: behaviorStartDate.value,
                b_start_time: behaviorStartTime.value,
                b_end_date: behaviorEndDate.value,
                b_end_time: behaviorEndTime.value,
            }),
        }).then((_res) => {
            console.log(_res)
            // console.log(uName.value)
        });
    }
</script>
{% endblock %}