{% extends "base.html" %}
{% block title %}Diagram{% endblock %}
{% block content %}

<h1 class="center" id="show"></h1>

<!-- Diagram -->
<div class="center">
    <span>Choose a driver:</span>
    <select id="selectedDriver" onchange="getId()">
        {% for driver in drivers %}
        <option value="{{driver}}">{{driver}}</option>
        {% endfor %}
    </select>
</div>

<div class="center diagram">
    <canvas id="lineChart"></canvas>
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    var results = [];
    var t;
    var refreshTime = 30;
    var lineChart = null;

    setInterval(Refresh, 1000);

    function Refresh() {
        t = localStorage.getItem("time") == null ? 1 : localStorage.getItem("time");
        if (refreshTime === 1) {
            window.location.reload();
            t++;
            localStorage.setItem("time", t);
        }
        document.getElementById("show").innerHTML = "Diagram: Refresh this page after " + refreshTime + " seconds";
        refreshTime--;
    }

    document.addEventListener("DOMContentLoaded", function () {
        // Get the selected driver from local storage
        var selectedDriver = localStorage.getItem("driver");

        // Set the selected driver in the dropdown
        var selectElement = document.getElementById("selectedDriver");
        for (var i = 0; i < selectElement.options.length; i++) {
            if (selectElement.options[i].value === selectedDriver) {
                selectElement.selectedIndex = i;
                break;
            }
        }

        // Call getId() function to fetch data and update the chart
        getId();
    });

    function getId() {
        var selectElement = document.getElementById("selectedDriver");
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var driverId = selectedOption.value;
        var time = localStorage.getItem("time");
        localStorage.setItem("driver", driverId);
        console.log(driverId)
        fetch("/diagram", {
            method: "POST",
            body: JSON.stringify({
                driverId: driverId,
                totalTime: time * 30
            }),
        })
            .then((_res) => _res.json())
            .then((data) => {
                console.log(data);
                if (lineChart !== null) {
                    lineChart.destroy();
                }
            const labels = data.map(result => result.split(",")[2]);
            const time = data.map(result => result.split(",")[2].split(" ")[1]);
            const speeds = data.map(result => parseFloat(result.split(",")[1]));
            const overspeeds = data.map(result => parseInt(result.split(",")[3]));

            const ctx = document.getElementById("lineChart").getContext("2d");
            lineChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: time,
                    datasets: [
                        {
                            label: "Warning: Overspeed!",
                            data: speeds.map((value, index) => overspeeds[index] === 1 ? value : null),
                            backgroundColor: "red",
                            borderColor: "red",
                            borderWidth: 1,
                            pointBackgroundColor: "red",
                            pointBorderColor: "red"
                        },
                        {
                            label: "Speed",
                            data: speeds,
                            backgroundColor: "rgba(0, 123, 255, 0.5)",
                            borderColor: "rgba(0, 123, 255, 1)",
                            borderWidth: 1,
                            pointBackgroundColor: "rgba(0, 123, 255, 0.5)",
                            pointBorderColor: "rgba(0, 123, 255, 1)"
                        }
                    ]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
            });
        })
        .catch((error) => {
            console.error(error);
        });
   }
</script>

{% endblock %}