{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1 class="center">Diagram</h1>

<h3 class="center" id="show"></h3>

<div class="table-sty">
    <table style="min-width: 430px;">
        <tr>
            <th>Driver</th>
            <th>Car Plate Number</th>
            <th>Speed</th>
            <th>Warning</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    var t = 30;
    setInterval("Refresh()", 1000);
    function Refresh() {
        if (t == 2) {
            window.location.reload();
        }
        document.getElementById('show').innerHTML = "Refresh this page after " + t + " seconds";
        t--;
    }
</script>
{% endblock %}