{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1 class="center">Home</h1>

<h3 class="center">Hi, you can jump to these two pages</h3>

<table style="max-width: 800px;">
    <tr>
        <td><b>Behavior</b> <br /> display the driving behavior information during the given period</td>
        <td><a href="/behavior">Behavior</a></td>
    </tr>
    <tr>
        <td><b>Diagram</b> <br /> visualize the driving speed of each driver during the given period</td>
        <td><a href="/diagram">Diagram</a></td>
    </tr>
</table>
{% block javascript %}
<script type="text/javascript">

</script>
{% endblock %}

{% endblock %}